{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
<div class="w3-container">
	<form method="post">
		<p>
			Account Status: {% if verified %}
								Verified
							{% else %}
								Not verified
								<input type="submit" class="w3-button w3-round w3-blue w3-margin"name="button_verify" value="Send verification email"/>
							{% endif %}
		</p>
	</form>
	{% for restaurant in subscribed_list %}
		<div class="w3-card w3-round-large w3-third w3-margin w3-hover-shadow">
			<div class="w3-container">
				<h3>{{restaurant[0].name}}</h3>
				<h3 class="w3-text-green w3-right">{{restaurant[1]}} - Rs. {{restaurant[2]}}</h3>
			</div>
			<footer class="w3-container w3-margin-bottom">
				<div class="w3-text-red">Ends: {{ restaurant[3] }}</div>
				<a href="/restaurant/{{restaurant[0].id}}" class="w3-hover-text-blue w3-right">Learn more</a>
			</footer>
		</div>
	{% endfor %}
</div>
{% endblock %}